body {
   box-sizing: border-box;
   background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}
h2{
  text-align: center;
}
.aga2{
  position: relative;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.Logo{
    border-color: black;
    max-width: 150px;
    padding: 10px;
    margin: auto;
}
  table {
    max-width: 70%;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  th, td {
    padding: 8px;
    border: 1px solid #000000;
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1200px;
    width: 30%;
  }
.gallery-item {
  align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    max-width: 1200px;
    max-height: 460px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 50%;
}
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}
.gallery-item:hover {
    transform: scale(1.05);
}
.feriado{
    text-align: center;
}
.comeco{
    background-color: #2b7fdf;
}